<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>
  <div class="container">
    <h1>Recipe Manager</h1>
    <div class="nav-bar">
      <a routerLink="/view-recipes">View Recipes</a>
      <a routerLink="/recipe-favourites">View Favourites</a>
      <a routerLink="/recipe-form">Add Recipe</a>
    </div>
    <div class="nav-search">
      <input type="text" placeholder="Search">
      <button type="button">Search</button>
    </div>
  </div>
</body>