<div class="headerview">
  <div class="container">

    <h1>My Recipes</h1>
    <div class="nav-bar">
      <a routerLink="/view-recipes">Recipes</a>
      <a routerLink="/recipe-favourites">Favourites</a>
      <a routerLink="/recipe-form">Add</a>
    </div>
  
    <div class="search-container">
      <div class="input-container">
        <input [formControl]="searchControl" placeholder="Search">
        <ng-container *ngIf="filteredRecipes | async as data">
          <div *ngFor="let recipe of data">
            <p (click)="onClick(recipe.id)">{{recipe.name}}</p>
          </div>
        </ng-container>
      </div>
      <div class="button-container">
        <button class="search-button">
          <img src="assets/image/magnifying-glass.png" class="search-icon"/>
        </button>
      </div>
    </div>
  </div>
</div>